{% extends 'base1.html' %}
{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">
  
	<header>
		<div class="container">
		<div id="brandname">
			<p style="color: Green;">ML Application By Sandeep Chintakindi</p>
		</div>
		<h1 style="color: Red;">Enter the Holliwood Movie do you like to Recommend</h1>
		
	</div>
	</header>
 

  <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="Movie name here">
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
{% endblock %}